/*********************font family***********************/
@font-face{
  font-family: 'BebasNeue Bold';
  src: url('../font/BebasNeue Bold.ttf');
}
@font-face{
  font-family: 'Dosis-SemiBold';
  src: url('../font/Dosis-SemiBold.ttf');
}
@font-face{
  font-family: 'Dosis-Book';
  src: url('../font/Dosis-Book.ttf');
}
.fa-user::before {
  content: "\f007";
}
/*********************common css***********************/
.yellow{animation:yellow_black 8s infinite  ease;}
.black{animation:black_yellow 8s infinite  ease;}
@keyframes yellow_black {0%{color:#fcd10a;}50%{color:#202020;}100%{color:#fcd10a;}}
@keyframes black_yellow {0%{color:#202020;}50%{color:#fcd10a;}100%{color:#202020;}}

.black_bg_head_yellow {color: #fcd10a;animation: myy 8s infinite ease;}
.black_bg_head_white {color: #fff;animation: myyy 8s infinite ease;}
@keyframes myy {0% {color: #fcd10a;}50% {color: #fff;}100% {color: #fcd10a;}}
@keyframes myyy {0% {color: #fff;}50% {color: #fcd10a;}100% {color: #fff;}}

.sub_title {
  padding: 50px 0 10px 0;
    font-size: 50px;
    font-family: 'BebasNeue Bold';
    font-weight: normal;
    text-transform: uppercase;
    color: #fcd10a;
}
.sub_head h5{
  font-family: 'Dosis-SemiBold';
  padding-bottom: 50px;
  width: 80%;
  margin: auto;
}



/*********************header css***********************/
header{
  background-color: #0e1721;
  padding: 5px 0px;
  box-shadow: 0 0 1px 0px #ddd;
}
header .navbar{
  padding: 0;
}
header .navbar button{
  background-color: white;
}
header .navbar button:focus{
  outline: none;
}
header .navbar img{
  width: 130px;
}
header .navbar .collapse ul li {
  margin-left: 50px;
}
header .navbar .collapse ul li a{
  color: white;
  font-family: 'Dosis-SemiBold';
}
header .navbar .collapse ul li a:hover{
  color: #fcd10a;
}


/*********************buy teen patti software css***********************/
.buy_experience .row1 .col1{
  text-align: center;
    padding: 30px 20px;
    box-shadow: 0px 0px 10px #d2d2d2;
    margin-bottom: 50px;
}
.buy_experience .row1 .col1:hover{
    box-shadow: 0px 0px 20px #d2d2d2;
}
.buy_experience .row1 .col1 .image{
  margin: auto;
    background-color: black;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
.buy_experience .row1 .col1 .image img{
  width: 80px;
  padding-top: 20px;
}
.buy_experience .row1 .col1 h4{
  padding-top: 25px;
    font-family: 'Dosis-SemiBold';
}


/*********************contact us section***************************/
.contact_us{
  background-image: url('../img/contact_bg.jpg');
  background-size: cover;
}
.contact_us .overlay{
  background-color: #000000cc;
}
.contact_us .row1{
  padding-top: 20px;
}
.contact_us .row1 .contact_column{
  padding-bottom: 50px;
}
.contact_us .row1 .col1 i{
  background-color: white;
  color: #292929;
  font-size: 42px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  padding-top: 20px;
  text-align: center;
  border: 5px solid #dfdfdf;
}
.contact_us .row1 .col2{
  text-align: center;
  color: white;
}
.contact_us .row1 .col2 p{
  color: #fcd10a;
}
.ern {
  height: 100%;
}
.ern {
  box-shadow: 0px 0px 10px #d2d2d2;
  padding: 20px;
  transition: all .4s linear;
}
.ern:hover {
  box-shadow: 0px 0px 20px #d2d2d2;
}
.ern img {
  width: 50px;
}
.ern h2 {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #252525;
  letter-spacing: 1px;
  margin: 15px 0;
}
.ern p, .contentblack {
  color: #252525;
  font-weight: 300;
  letter-spacing: 1px;
}

/*********************footer section***************************/
footer{
  background-color: black;
}
footer p{
  color: white;
  padding: 15px;
  margin: 0;
  text-align: center;
}
.banners img {
  width: 100%;
  height: auto;
}
.bg-one {
  background: #F8F9FA;
}
.my-sm-5 {
  margin-bottom: 3rem !important;
}
.text-muted {
  color: #6c757d;
}
.image-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
}
.howToplayEndBtn {
  background: #dde4f7;
  padding: 10px 25px 8px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  border-radius: 2rem;
}
.text-center .text-dark ~ .text-muted {
  font-weight: 600 !important;
  color: #343a40 !important;
}
#content p {
  color: #343a40 !important;
}
.accordion-item-header {
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.faqs-rummy .accordion-item {
  border-bottom: 0px !important;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 0.5rem 0;
}

.accordion-item-header::after {

    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;

}
.faqs p {
  color: #343a40;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.faqs-rummy .accordion-item .accordion-item-body-content {
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1 !important;
}
.accordion-item-body-content {
  padding: 1rem 0;
  line-height: 1.5rem;
  border-top: 1px solid;
}
#glossary-faq .col-md-6 img.marg-auto {
  width: 140px;
  height: 140px;
}
.marg-auto {
  display: block;
  margin: 0 auto;
  margin-bottom: 0px;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  color: #000 !important;
}
.buttonRadius {
  border-radius: 2rem;
  vertical-align: middle;
}
.bg-light {
  background-color: #f8f9fa !important;
}

.img-fluid {
  display: block;
  width: 100%;
  border-radius: 8px;
  transition: transform 400ms;
  transform: scale(0.9);
  transform-origin: center center;
  z-index: 1;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.splide .splide__slide.is-active img {
  transform: scale(1.3);
  position: relative;
  z-index: 999;
}
.sub-hd-block {
  font-family: 'BebasNeue Bold';
  font-size: 28px;
}
section#content {
  padding: 2rem 0;
}
.accordion-item-body {
  clear: both;
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.imageclass-add img {
  width: 100%;
  margin-top: 95px;
}
.banners-top ~ .mobnumRow.bg-one .my-sm-5 {
  margin-top: 0 !important;
}
.list-block-all {
  padding: 0;
}
body {
  padding-top: 60px;
}
.howToplayEndBtn:hover {
  background: #fdd935;
}




  @media (min-width: 576px)
.p-sm-3 {
  padding: 1rem !important;
}
}
@media screen and (max-width: 767px){
  .sub_title {
    font-size: 34px;
  }
  .like_product .row1 .col1 h4 {
    font-size: 17px;
    padding: 10px 0px;
  }
  .buy_experience .row1 .col1 {
    padding: 15px;
  }
  .buy_experience .row1 .col1 h4 {
    font-size: 17px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 991px){
  header .navbar .collapse ul li {
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .contact_us .row1 .col1 i{
    font-size: 30px;
    width: 70px;
    height: 70px;
    padding-top: 18px;
    border: 3px solid #dfdfdf;
  }
}



/*Fantasy Sports*/
.top-banner-in {
  position: relative;
  padding-top: 180px;
  background-size: 100% 100% !important;
  display: block;
}
.top-banner-in::before {
  position: absolute;
  background: #feee47;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .8;
}
.top-banner-in h1 {
  font-family: 'BebasNeue Bold';
  font-size: 42px;
  color: #000;
  letter-spacing: 1px;
}
.top-banner-in h4 {
  font-size: 18px;
  color: #000;
  line-height: 28px;
  padding: 0 10%;
  margin: 10px 0 40px 0;
}

.top-banner-in .player-box {
  min-height: 670px;
  background-color: rgba(255, 255, 255, .11);
  box-shadow: 0 1px 56.56px 44.44px rgba(0, 0, 0, .09);
  width: 394px;
  overflow: visible;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 auto -60px;
}
.top-banner-in .player-box .player-b {
  max-width: 551px;
  margin-left: 60px;
}
.img-fluid1 {
  max-width: 100%;
  height: auto;
}
.mid-populer-sports {
  padding: 150px 0 92px;
  display: block;
}
.mid-populer-sports h4 {
  font-size: 20px;
  color: #3c3c3c;
}
.mid-populer-sports ul {
  padding: 0;
  text-align: center;
  margin: 40px 0;
  list-style: none;
}
.mid-populer-sports ul li {
  display: inline-block;
  margin: 0 20px;
}
.mid-populer-sports .icon-box {
  border-bottom: 1px solid #2a51c0;
  margin: 0 auto;
  width: 113px;
  height: 113px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all .2s ease;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, .122);
  box-shadow: 0 1px 20.9px 1.1px rgba(0, 0, 0, .1);
}
.mid-populer-sports li span {
  display: block;
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
}
.mid-populer-sports .btn-primary {
  color: #fff;
  background: #fdd935;
  border-radius: 100px;
  font-weight: 600;
  padding: 12px 55px;
  font-size: 16px;
  border: none;
  outline: 0;
  box-shadow: 0 1px 20.9px 1.1px rgba(0, 0, 0, .1);
}
.magento_wrapper {
  background: #f5f5f5;
}

.token_dev_sec {
  background: #F4F7FC;
  padding: 100px 15% 70px;
  background-size: cover !important;
  position: relative;
}
.magento_services_sec .token_dev_sec {
  background: transparent;
    background-size: auto;
}

.token_dev_sec_img {
  position: relative;
  z-index: 1;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}
.token_card {
  padding: 0 30px;
}
.text-dark, .text-dark * {
  color: #343a40 !important;
}
.nft_title p {
  margin: 1.4rem auto 0;
}
.token_card .nft_title p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  max-width: 100%;
  font-weight: 400;
}
.nft_title p {
  position: relative;
}

.btn_theme {
  background: #fdd935;
  color: #000 !important;
  padding: 10px 32px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0 0 0;
  box-shadow: 0 0 0 0 rgb(239 88 125 / 40%);
  display: block;
  max-width: fit-content;
}
.token_dev_sec.token_dev_sec_left::after {
  content: "";
  background: #fdd935;
  height: 100%;
  width: 30%;
  position: absolute;
  left: 0;
  top: 0;
}
.token_dev_sec.token_dev_sec_right::after {
  content: "";
  background: #fdd935;
  height: 100%;
  width: 30%;
  position: absolute;
  right: 0;
  top: 0;
}
.cryptosphere_sec {
  padding: 80px 0;
}
.class_card {
  background: #ffffff;
  border-radius: 15px;
  padding: 40px;
}
.btn-orange {
  background: #fdd935 !important;
}
.ourwork {
  padding: 70px 0px 70px 0;
}
.ourwork ul.nav-tabs {
  margin-left: -15px;
  padding: 50px 0;
  border-right: 1px solid #cdcdcd;
  display: block;
  position: relative;
  border-bottom: none;
}
.ourwork ul.nav-tabs::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 50px;
  right: 0;
  background: rgb(205, 205, 205);
  background: linear-gradient( 0deg, rgba(205, 205, 205, 1) 0%, rgba(255, 255, 255, 1) 100%);
  z-index: 9;
  top: 0;
  right: -1px;
}
.ourwork ul.nav-tabs li.nav-item {
  text-align: center;
  min-width: 120px;
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 0;
  display: block;
}
.ourwork ul.nav-tabs li a.nav-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  color: #3c3c3c;
  padding: 18px 0;
  border: none;
  border-radius: 0;
}
.ourwork ul.nav-tabs li img {
  display: block;
  margin: 0 auto 10px;
}
.ourwork ul.nav-tabs li a.nav-link.active {
  background: #333333;
  color: #fff;
}
.ourwork ul.nav-tabs li a.nav-link.active img {
  filter: brightness(0) invert(1);
}
.ourwork .tab-pane {
  padding-top: 20px;
  padding-left: 30px;
}
.ourwork .wrkcontent {
  min-height: 350px;
  width: 100%;
  overflow: hidden;
}
.ourwork .wrkcontent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.ourwork .wrkcontent {
  border-radius: 20px;
}
.ourwork .wrkcontent .ltcnt {
  padding: 50px 30px 30px 50px;
  display: flex;
  flex-direction: column;
  min-width: 370px;
}
.ourwork .ltcnt h6 {
  background: rgb(24 155 235);
  display: grid;
  padding: 6px 21px;
  min-width: auto;
  text-align: center;
  border-radius: 25px;
  font-size: 14px;
  color: #fff;
  max-width: fit-content;
}
.ourwork .ltcnt a.pttitle {
  display: block;
  font-size: 26px;
  text-decoration: none;
  margin: 20px 0 4px;
  color: #fff;
  font-weight: 600;
}
.ourwork .ltcnt p {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
}
.ourwork .wrkcontent .ltcnt a.crbtn {
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: auto;
  color: #fff;
  transition: all 0.5s ease;
}
.ourwork .wrkcontent:hover a.crbtn {
  background: #fff;
  color: #3c3c3c;
}
.ourwork .pcbox {
  background: rgb(194, 203, 254);
  background: linear-gradient( 267deg, rgba(194, 203, 254, 1) 0%, rgba(151, 166, 255, 1) 100%);
  min-height: 320px;
  width: 100%;
  overflow: hidden;
  padding: 15px 0;
}
.ourwork .wrkcontent .ltcnt {
  padding: 50px 30px 30px 50px;
  display: flex;
  flex-direction: column;
  min-width: 370px;
}
img.pt1 {
  max-width: 50%;
  object-fit: scale-down;
  padding: 10px;
}
.ourwork .pcbox1 {
  background: rgb(255, 85, 85);
  background: linear-gradient( 100deg, rgba(255, 85, 85, 1) 0%, rgba(255, 146, 146, 1) 100%);
  min-height: 320px;
  width: 100%;
  overflow: hidden;
  padding: 15px 0;
    padding-top: 15px;
    padding-bottom: 15px;
}
.nft_title {
  margin-bottom: 4rem;
}
.ind_card.card_full {
  width: auto;
  height: unset;
  background: #F4F7FC;
  margin: 0;
}
.ind_card.card_full.scrip_feature_card {
  text-align: left !important;
  align-items: self-start;
  min-height: 265px;
  margin-bottom: 50px;
}
.scrip_feature_card.ind_card.card_full h5 {
  margin-top: 0 !important;
  font-size: 18px;
  padding-bottom: 1rem;
}
.ind_card.card_full h5 {
  font-weight: 600;
}
.magento_dev_sec .scrip_feature_card.ind_card.card_full h5 {
  color: #000000;
  border: 0;
  margin: 0;
  min-height: 60px;
}
.magento_dev_sec .scrip_feature_card.ind_card.card_full p {
  min-height: 165px;
}
.ind_card {
  position: relative;
  border-radius: 10px;
  padding: 30px;
display: flex;
justify-content: center;
flex-direction: column;
border-bottom: 2px solid #1668e2; 
}
.token_development_ser {
  padding: 100px 0;
}
.magento_services_sec ul li {
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 0.8rem;
}
.reason-to-invest h2 {
  color: #3c3c3c;
  font-size: 32px;
  margin-bottom: 20px;
}
.reason-to-invest ul {
  padding: 0 0 0 8px;
  margin: 0;
  list-style: none;
}
.reason-to-invest ul li {
  padding: 0 0 20px 30px;
  margin: 0;
  font-size: 14px;
  border-left: 1px solid #c3c3c3;
  position: relative;
  line-height: 20px;
  color: #262626;
  width: 92%;
  text-align: left;
}
.reason-to-invest ul li::after {
  position: absolute;
  top: 0;
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
  background: #1668e2;
  left: -1.7%;
  -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
}
.reason-to-invest .btn-primary {
  color: #fff;
  background: #ee4f76;
  border-radius: 100px;
  font-weight: 600;
  padding: 12px 55px;
  font-size: 16px;
  border: none;
  outline: 0;
  box-shadow: 0 1px 20.9px 1.1px rgba(0, 0, 0, .1);
}
.reason-to-invest {
  padding: 100px 0;
}
.our_cutting_age .pinkbg {
  background: #fdd935;
  padding: 50px 0;
}
.our_cutting_age .pinkbg h2 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 10px;
}
.our_cutting_age .pinkbg p {
  color: #000;
  opacity: 0.5;
  margin: 0;
}
.our_cutting_age .tblink {
  background: #1A2131;
}
.our_cutting_age .nav-tabs {
  border: none;
  text-align: center;
  display: grid;
  grid-auto-flow: column;
  gap: 4px;
  align-items: center;
  justify-items: center;
}
.our_cutting_age .nav-tabs li {
  text-align: center;
}
.our_cutting_age .nav-tabs li .nav-link.active {
  background: transparent !important;
}
.our_cutting_age .nav-tabs li .nav-link.active {
  border-bottom: 6px solid #fdd935;
}
.our_cutting_age .nav-tabs li .nav-link {
  border-bottom: 6px solid transparent;
}
.our_cutting_age .nav-tabs li .nav-link {
  position: relative;
  padding: 21px 30px 21px;
  border: none;
  transition: all ease .5s;
  border-radius: 0;
  height: 100%;
}
.our_cutting_age .nav-tabs li .nav-link.active img {
  opacity: 1;
}
.our_cutting_age .nav-tabs li img {
  height: 40px;
  width: auto;
  margin: 0 auto;
  opacity: .4;
}
.our_cutting_age .nav-tabs li .nav-link.active span {
  opacity: 1;
}
.our_cutting_age .nav-tabs li span {
  display: block;
  opacity: .4;
}
.our_cutting_age .nav-tabs li span {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  margin-top: 20px;
}
.our_cutting_age .bggrey {
  background: #2B3448;
  padding: 50px 0;
  text-align: center;
}
.our_cutting_age ul.tech-name {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.our_cutting_age ul.tech-name li {
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin: 0 18px;
}
.our_cutting_age ul.tech-name li .icon-box {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto 15px;
}
.our_cutting_age ul.tech-name li {
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.wht-to-team {
  padding: 100px 0;
}
.wht-to-team .innner-box {
  min-height: 185px;
  border-radius: 8px;
  margin: 15px;
  background-color: #fff;
  box-shadow: 0 1px 20.9px 1.1px rgba(0, 0, 0, .05);
  padding: 20px 15px 15px;
}
.wht-to-team .icon-box {
  width: 50px;
  display: inline-block;
  vertical-align: top;
}
.wht-to-team .content-box {
  width: 87%;
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
}
.wht-to-team .content-box h5 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.wht-to-team .content-box p {
  color: #828282;
  font-size: 16px;
  line-height: 23px;
  margin: 0;
}
.wht-to-team .owl-dots {
  text-align: center;
  margin-top: 15px;
}
.wht-to-team .owl-dot {
  opacity: 1;
  background: #ddd !important;
  margin: 5px 4px !important;
  width: 10px;
  height: 10px;
  border-radius: 25px;
  outline: 0;
}
.wht-to-team .owl-dot.active {
  width: 34px;
  opacity: 1 !important;
  background: #fdd935 !important;
}
.stats-section {
  padding: 65px 0;
  background: #f5f5f5;
}
.stats-section .st-box {
  background: #fff;
  min-height: 130px;
  text-align: center;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  -webkit-box-shadow: 0 40px 60px -30px rgba(23, 66, 168, .2);
  box-shadow: 0 40px 60px -30px rgba(23, 66, 168, .2);
}
.stats-section .st-box::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 35px;
  height: 35px;
  border-left: 2px solid #333333;
  border-top: 2px solid #333333;
  transition: all .8s ease;
}
.stats-section .st-box::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 35px;
  height: 35px;
  border-left: 2px solid #333333;
  border-bottom: 2px solid #333333;
  transition: all .8s ease;
}
.stats-section .st-box h5 {
  color: #3c3c3c;
  font-weight: 600;
}
.stats-section .st-box strong {
  font-size: 46px;
  color: #000;
  font-weight: 600;
  line-height: 38px;
}
.stats-section .st-box span {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: block;
  width: 100%;
  transition: all .8s ease;
}
.stats-section .st-box span::before {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
  border-right: 2px solid #333333;
  border-top: 2px solid #333333;
  transition: all .8s ease;
}
.stats-section .st-box span::after {
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  width: 35px;
  height: 35px;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  transition: all .8s ease;
}
.stats-section .st-box:hover::before, .stats-section .st-box:hover span::after {
  width: 100%;
  height: 100%;
}
.share-your-pro {
  padding: 80px 0 120px;
  background: #fdd935;
}
.share-your-pro h2 {
  color: #000;
  font-size: 32px;
  margin-bottom: 30px;
}
.share-your-pro .btn-primary {
  color: #3c3c3c;
  background: #fff;
  border-radius: 100px;
  font-weight: 600;
  padding: 12px 55px;
  font-size: 16px;
  border: none;
  outline: 0;
  box-shadow: 0 1px 20.9px 1.1px rgba(0, 0, 0, .1);
}
section.p-faqs {
  padding: 50px 0;
}
.p-faqs .btn-link {
  text-align: left;
  color: #3c3c3c;
  text-decoration: none;
  font-weight: 600;
  padding: 15px 15px;
}
.p-faqs .card {
  margin-bottom: 20px;
}
.customeraboutsay {
  padding: 100px 0 50px;
}
.customeraboutsay .heading {
  background: #fdd935;
  margin-bottom: 110px;
}
.customeraboutsay h2 {
  background: #fff;
  display: inline-block;
  font-size: 24px;
  color: #3c3c3c;
  padding: 2px 50px;
}
.customeraboutsay .whitebox {
  position: relative;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  height: 359px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.08);
  border-bottom: 2px solid #fdd935;
}
.customeraboutsay .whitebox::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background: url(../img/quote.png) center center no-repeat;
    background-size: auto;
  background-size: 100%;
  left: 20px;
  top: -10px;
}
.customeraboutsay .ttimg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  min-height: 80px;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.customeraboutsay .whitebox p {
  font-weight: 500;
  color: #3c3c3c;
  font-size: 14px;
}
.customeraboutsay .whitebox strong {
  font-size: 14px;
}
.customeraboutsay .whitebox span {
  font-weight: 400;
  display: block;
}
.customeraboutsay .owl-nav .owl-prev, .customeraboutsay .owl-nav .owl-next  {
  width: 50px;
  height: 50px;
  border: 1px solid #1668e2 !important;
  background: rgba(24, 155, 235, 0.24) !important;
  border-radius: 50% !important;
  position: absolute;
  left: -80px;
  top: calc(50% - 25px);
  font-size: 40px !important;
  line-height: 0px !important;
}
.customeraboutsay .owl-nav .owl-next {
  left: inherit;
  right: -80px;
}
.customeraboutsay .owl-nav .owl-prev span, .customeraboutsay .owl-nav .owl-next span {
  margin-top: -4px;
  display: block;
}
.customeraboutsay h2 {
  margin-bottom: 0;
}





 @media screen and (min-width: 992px) and (max-width: 1439px){
.token_dev_sec {
  padding: 80px 10% 50px;
}
.token_dev_sec_img {
  margin-bottom: 20px;
}

}
  @media (max-width: 1366px) {
.top-banner-in .player-box {
  width: 100%;
}
}